.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  @apply w-full md:w-[90%] lg:w-[80%] xl:w-[70%];
}



/* go back and edit for a better mobile experience
/* @media (max-width: 480px) {
  body {
      background-image: url('./assets/Background-mobile.jpg');
  }
}

@media (min-width: 1025px) {
  body {
      background-image: url('./assets/shortwave_brewing_background.png');
 }
} */